################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVVM/CopilotIndices/17.13.444.19527
/.vs/MVVM/FileContentIndex
/.vs/MVVM/v17
/.vs

